body {
    color:rgb(0, 0, 0);
    margin: 0px;
    background:radial-gradient(black, transparent);;
    font-family: "Roboto Slab", serif;
    margin-bottom: 100px;
}

header{
    border-bottom:solid 3px rgb(118, 118, 118);
    padding: 20px;
    font-size: 33px;
    color: rgb(118, 118, 118);
}


.chamada {
    padding-bottom: 80px;
    padding-top: 10px;
    display: left;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
  font-size: 40px;
}

p { 
    font-size: 20px;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 80px;
}

.categoria {
    padding-laft: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid black;
}

.categoria h2 {
    color: rgb(29, 28, 39);
}